{% extends "templates/web.html" %}

{% block page_content %}
<h1>Available Flights</h1>

{% if flights %}
    <ul>
        {% for flight in flights %}
        <li style="margin-bottom: 20px;">
            <strong>{{ flight.name }}</strong><br/>
            <strong>{{ flight.source_airport_code }} → {{ flight.destination_airport_code }}</strong><br>
            Date: {{ flight.date_of_departure }}<br>
            Time: {{ flight.time_of_departure }}<br>
            Duration: {{ flight.duration }}<br>
            <a href="/{{ flight.route }}">View Flight</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No published flights found.</p>
{% endif %}
{% endblock %}
